.hash_tag_continer{
	border-right: 2px solid #BCBCBC;
	width: 100%;
}
.header_box{
	padding: 30px 0px 0px 28px;
	font-size: 30px;
	font-weight: 700;
	color: black;
	font-family: "Space Grotesk", sans-serif;
	display: flex;
	align-items: center;
	gap: 18px;
	
}
.hash_tabs_wraper{
	padding: 18px 0px 18px 56px;

}
.tabs_box{
	max-width: 451px;
	height: 63px;
	border-radius: 41px;
	padding: 0px 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #D9D9D961;
}
.tab_item{
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	color: black;
	cursor: pointer;
	font-family: "DM Sans", sans-serif;

}
.active_tab_item{
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	width: 146px;
	height: 53px;
	background-color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 41px;
	cursor: pointer;
	color: #000580;
	font-family: "DM Sans", sans-serif;

}
.post_body_wraper{
	padding: 39px 30px 40px 42px;
}
.seprator{
	width: 100%;
	border: 2px solid #BCBCBC;
}