.home_left_bar {
  width: 335px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-height: 100vh;
  background-color: white;
  box-shadow: 0 7px 21px 0px rgba(0, 0, 0, 0.05);
}
.left_bar_logo {
  display: flex;
  padding-top: 35px;
  justify-content: center;
  font-size: 42px;
  color: #1cac19;
  font-weight: 700;
  font-family: "Space Mono", sans-serif;
  letter-spacing: -0.085em;
}
.left_bar_content_box {
  padding-top: 53px;
  padding-left: 36px;
}
.logout_toggle{
  position: absolute;
  width: 300px;
  height: 271px;
  z-index: 15;
  left: -15px;
  top: 30px;
  background-color: white;
  border-radius: 10px;
  border: 0.3px solid #BCBCBC;
box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);

}
.left_bar_profile {
position: relative;
  width: 249px;
  height: 90px;
  cursor: pointer;
  border-radius: 20px;
  border: 1.2px solid #bcbcbc;
  padding: 14px 16px;
}
.left_bar_p {
  display: flex;
  gap: 17px;
  align-items: center;
}
.logut_user_p {
  display: flex;
  gap: 17px;
  gap: 26px;
  padding: 23px 0px 0px 25px;
  align-items: center;
}
.logout_sep{
  width: 100%;
  border: 2px solid #BCBCBC;
  margin-top: 30px;
}
.logout_add_acount{
  display: flex;
  align-items: center;
  gap: 17px;
  font-size: 16px;
  color: #BCBCBC;
  padding: 36px 40px 0px 40px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}
.logout{
  display: flex;
  align-items: center;
  gap: 17px;
  font-size: 16px;
  color: #BCBCBC;
  padding: 20px 40px 0px 40px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}
.profile_name {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000580;
  line-height: 26px;
}
.profile_email {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: black;
  line-height: 26px;
}
.profile_folowers {
  display: flex;
  gap: 12px;
  font-family: "DM Sans", sans-serif;
  color: #bcbcbc;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
}
.profile_toggle{
display: flex;
gap: 4px;
align-items: center;
}
.menu_content_wrap{
	margin-top: 36px;
	padding-left: 56px;
	display: flex;
	flex-direction: column;
	gap: 36px;
}
.menu_opt_wrap_active{
display: flex;
align-items: center;
gap: 14px;
font-size: 24px;
color: #1cac19 ;
font-weight: 700;
cursor: pointer;
}
.menu_opt_wrap{
display: flex;
align-items: center;
gap: 14px;
font-size: 24px;
color: black ;
font-weight: 700;
cursor: pointer;
}
.menu_item_active{
	font-size: 24px;
	color: #1cac19;
	font-weight: 700;
	cursor: pointer;
}
.menu_icon_active{
  font-size: 24px;
	color: #1cac19 !important;
	font-weight: 700;
	cursor: pointer;
}
.menu_icon{
  font-size: 24px;
	color: black!important;
	font-weight: 700;
	cursor: pointer;
}
.menu_item{
	font-size: 24px;
	color: black;
	font-weight: 700;
	cursor: pointer;
}
.post_btn_wrap{
	display: flex;
	justify-content: center;
	padding-top: 61px;
	padding-bottom: 109px;
}
.post_btn{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 272px;
	font-size: 24px;
	border-radius: 41px;
	height: 63px;
	color: white;
	background-color: #1CAC19;
	font-weight: 700;
	font-family: "DM Sans", sans-serif;
}

@media screen and (max-width:1850px){
  .home_left_bar {
    width: 300px;
    background-color: white;
    box-shadow: 0 7px 21px 0px rgba(0, 0, 0, 0.05);
  }
  .left_bar_content_box {
    padding-top: 53px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .left_bar_profile {
    width: 100%;
    height: 90px;
    border-radius: 20px;
    border: 1.2px solid #bcbcbc;
    padding: 10px 10px;
  }
  .menu_content_wrap{
    margin-top: 36px;
    padding-left: 46px;
  
    display: flex;
    flex-direction: column;
    
    
    gap: 26px;
  }
}
@media screen and (max-width:1700px){
  .home_left_bar {
    width: 100%;
    background-color: white;
    box-shadow: 0 7px 21px 0px rgba(0, 0, 0, 0.05);
  }
  .left_bar_content_box {
    padding-top: 43px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu_item{
    font-size: 20px;
    color: black;
    font-weight: 700;
    cursor: pointer;
  }
  .menu_item_active{
    font-size: 20px;
    color: #1cac19;
    font-weight: 700;
    cursor: pointer;
  }
  .left_bar_profile {
    width: 100%;
    height: 90px;
    border-radius: 20px;
    border: 1.2px solid #bcbcbc;
    padding: 10px 10px;
  }
  .menu_content_wrap{
    margin-top: 30px;
    padding-left: 46px;
  
    display: flex;
    flex-direction: column;
    
    
    gap: 26px;
  }
  .left_bar_logo {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    font-size: 38px;
    color: #1cac19;
    font-weight: 700;
    font-family: "Space Mono", sans-serif;
    letter-spacing: -0.085em;
  }
  .post_btn_wrap{
    display: flex;
    justify-content: center;
    padding-top: 41px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 90px;
  }
  .post_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 242px;
    font-size: 20px;
    border-radius: 41px;
    height: 56px;
    color: white;
    background-color: #1CAC19;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
  }
}
@media screen and (max-width:1200px){
  .post_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 180px;
    font-size: 16px;
    border-radius: 41px;
    height: 50px;
    color: white;
    background-color: #1CAC19;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
  }
  .logut_user_p {
    display: flex;
    gap: 17px;
    gap: 26px;
    padding: 10px 0px 0px 20px;
    align-items: center;
  }
  .menu_opt_wrap{
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 20px;
    color: black ;
    font-weight: 700;
    cursor: pointer;
    }
  .logout{
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 16px;
    color: #BCBCBC;
    padding: 20px 10px 10px 10px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
  }
  .logout_sep{
    width: 100%;
    border: 2px solid #BCBCBC;
    margin-top: 20px;
  }
  .logout_add_acount{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #BCBCBC;
    padding: 20px 10px 0px 10px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
  }
  .left_bar_profile {
    width: 100%;
    height: 90px;
    border-radius: 20px;
    border: 1.2px solid #bcbcbc;
    padding: 5px 10px;
  }
  .menu_item_active{
    font-size: 16px;
    color: #1cac19;
    font-weight: 700;
    cursor: pointer;
  }
  .left_bar_p {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  .profile_name {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #000580;
    line-height: 20px;
  }
  .profile_email {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: black;
    text-align: center;
    line-height: 20px;
  }
  .profile_folowers {
    display: flex;
    gap: 12px;
    font-family: "DM Sans", sans-serif;
    color: #bcbcbc;
    font-size: 12px;
    font-weight: 400;
    align-items: center;
  }
  .left_bar_profile {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 1.2px solid #bcbcbc;
    padding: 10px 10px;
  }
  .left_bar_logo {
    display: flex;
    padding-top: 25px;
    justify-content: center;
    font-size: 32px;
    color: #1cac19;
    font-weight: 700;
    font-family: "Space Mono", sans-serif;
    letter-spacing: -0.085em;
  }
  .menu_item{
    font-size: 16px;
    color: black;
    font-weight: 700;
    cursor: pointer;
  }
  .menu_content_wrap{
    margin-top: 30px;
    padding-left: 46px;
  
    display: flex;
    flex-direction: column;
    
    
    gap: 20px;
  }
  .logout_toggle{
    position: absolute;
    width: 220px;
    height: auto;
    z-index: 15;
    left: -15px;
    top: 30px;
    background-color: white;
    border-radius: 10px;
    border: 0.3px solid #BCBCBC;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
  
  }
  .menu_opt_wrap_active{
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 20px;
    color: #1cac19 ;
    font-weight: 700;
    cursor: pointer;
    }
}
@media screen and (max-width:768px){
  .post_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    font-size: 12px;
    border-radius: 41px;
    height: 40px;
    color: white;
    background-color: #1CAC19;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
  }
  .left_bar_profile {
    width: 100%;
    height: 90px;
    border-radius: 20px;
    border: 1.2px solid #bcbcbc;
    padding: 5px 10px;
  }
  .logut_user_p {
    display: flex;
    justify-content: center;
    gap: 17px;
    gap: 26px;
    padding: 10px 0px 0px 20px;
    align-items: center;
  }
  .logout{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    font-size: 16px;
    color: #BCBCBC;
    padding: 20px 40px 0px 40px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
  }
  .logout_add_acount{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    color: #BCBCBC;
    padding: 20px 10px 0px 10px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
  }
  .logout_toggle{
    position: absolute;
    width: 120px;
    height: auto;
    z-index: 15;
    left: -15px;
    top: 30px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    border: 0.3px solid #BCBCBC;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
  
  }
  .menu_item_active{
    font-size: 16px;
    color: #1cac19;
    font-weight: 700;
    display: none;
    cursor: pointer;
  }
  .left_bar_p {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  .profile_name {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    display: none;
    font-size: 16px;
    text-align: center;
    color: #000580;
    line-height: 20px;
  }
  .profile_email {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    display: none;
    color: black;
    text-align: center;
    line-height: 20px;
  }
  .profile_folowers {
    display: flex;
    gap: 12px;
    display: none;
    font-family: "DM Sans", sans-serif;
    color: #bcbcbc;
    font-size: 12px;
    font-weight: 400;
    align-items: center;
  }
  .left_bar_profile {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border:none;
    padding: 10px 10px;
  }
  .left_bar_logo {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    font-size: 22px;
    color: #1cac19;
    font-weight: 700;
    font-family: "Space Mono", sans-serif;
    letter-spacing: -0.085em;
  }
  .menu_item{
    font-size: 16px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    display: none;
  }
  .menu_content_wrap{
    margin-top: 30px;
    padding-left: 46px;
  
    display: flex;
    flex-direction: column;
    
    
    gap: 20px;
  }
  .post_btn_wrap{
    display: flex;
    justify-content: center;
    padding-top: 41px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 90px;
  }
  .menu_content_wrap{
    margin-top: 36px;
    padding-left: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    gap: 20px;
  }
  .left_bar_content_box {
    padding-top: 23px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}