.serch_box_wrap {
  min-width: 340px;
  height: 63px;
  border-radius: 41px;
  border: 2px solid #bcbcbc;
}
.top_trending_wrap{
	padding: 0px 18px 0px 29px;
}
.nba_wraper{
  width: 100%;
  background: #FFFFFF;
box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.05);
border-radius: 10px;

}
.nba_header{
  height: 52px;
  display: flex;
  padding: 0px 21px;
  margin-top: 37px;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid #BCBCBC;
  font-family: "Space Grotesk", sans-serif;
  color: black;
  align-items: center;

}
.right_bar_wrap {
  padding: 31px 29px 0px 23px;
  position: -webkit-sticky;
  width: 505px;
  position: sticky;
  top: 0;
}
.nba_content_body{
  padding: 27px 31px 0px 32px;
}
.nba_sep{
  width: 100%;
  margin-top: 30px;
  border-bottom: 2px solid #BCBCBC;
}
.posting_follow_btn{
  width: 114px;
  height: 37px;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 41px;
  background-color: #1CAC19;

}
.trending_heading {
  height: 52px;
  display: flex;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: black;
  align-items: center;
  padding-left: 21px;
  border-bottom: 2px solid #bcbcbc;
}
.trending_topics{
	height: 51px;
	border-bottom: 2px solid #BCBCBC;
	padding: 0px 19px;
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 700;
	color: black;
	font-family: 'Space Grotesk', sans-serif;


}
.trending_topic_body{
	padding: 33px 19px 30px 19px;
	display: flex;
	flex-direction: column;
	gap: 42px;
	font-size: 20px;
	border-bottom: 2px solid #BCBCBC;
	font-weight: 400;
	font-family: "DM Sans", sans-serif;
	color: black;

}
.semore_opt{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items:center ;
}
.trending_interst_wrap {
  min-width: 350px;
  background-color: white;
  border-radius: 10px;
  margin-top: 57px;
  box-shadow: 0 7px 21px 0px rgba(0, 0, 0, 5%);
}
.trending_videos_container {
  max-width: 505px;
  background-color: white;
  border-radius: 10px;
  margin-top: 18px;
  box-shadow: 0 7px 21px 0px rgba(0, 0, 0, 5%);
}
.trending_box_wrap {
  padding: 28px 17px 21px 17px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.trending_vedio_tile {
  background-color: white;
  padding: 8px 18px 8px 7px;
  display: flex;
  border-radius: 16px;
  align-items: center;
  gap: 15px;
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 10%);
}
.trending_vedios_heading {
  font-size: 15px;
  font-weight: 500;
  color: #000580;
  max-width: 300px;
  line-height: 20px;
  font-family: "DM Sans", sans-serif;
}
.filter_body{
  padding: 24px 24px;
}
.filter_heading{
  height: 51px;
  padding: 0px 19px;
  font-weight: 700;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  border-bottom: 2px solid #BCBCBC;
  display: flex;
  align-items: center;
}
.f_body{
  padding: 10px 20px 45px;
}
.filter_inputs{
  margin-top: 30px;
  width: 100%;
  height: 57px;
  border-radius: 30px;
  border: 2px solid #BCBCBC;
  padding-left: 35px;
}
.input_ele{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #BCBCBC;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.from_box{
  padding-top: 16px;
}
.small_inputs_wrap{
  display: flex;
  gap: 16px;
  padding-top: 4px;
  justify-content: space-between;
  align-items: center;
}
.filter_form_sep{

  border: 2px solid #BCBCBC;
  width: 100%;
}
.apply_fillter{
  width: 180px;
  height: 49px;
  border-radius: 41px;
  display: flex;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: #1CAC19;
  color: white;

}
.filter_dates{
  width: 177px;
  height: 57px;
  border-radius: 30px;
  display: flex;
  color: #BCBCBC;
  padding: 0px 20px;
  cursor: pointer;
  border:2px solid #BCBCBC ;
  justify-content: space-between;
  align-items: center;
}
.advnce_fillter_header{
  display: flex;
  height: 57px;
  padding: 0px 21px;
  font-size: 20px;
  color: black;
  font-weight: 700;
  gap: 16px;
  border-bottom: 2px solid #BCBCBC;
  font-family: "Space Grotesk", sans-serif;
  align-items: center;

}
.fillter_content{
  display: flex;
  gap: 14px;
  padding-top:16px;
  flex-direction: column;

}
.fillter_wraper{
  width: 458px;
  /*height: 253px;*/
  margin-top: 56px;
  background-color: white;
  box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

}
.advance_filter{
  font-size: 16px;
  font-weight: 400;
  color: #4285F4;
  cursor: pointer;
  margin-top: 24px;
  font-family: "DM Sans", sans-serif;
  text-decoration: underline;

}
._vedio_tile_tag {
  width: 65px;
  height: 24px;
  color: #000000;
  padding: 3px;
  display: flex;
  margin-top: 10px;
  gap: 6px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  border-radius: 41px;
  background-color: #d9d9d9;
}
._vedio_tile_user {
  display: flex;
  margin-top: 7px;
  gap: 7px;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #bcbcbc;
}
.trending_videos_wrap {
  padding: 21px 17px 0px 17px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 477px;
}
.trending_tile_wrap {
  width: 100%;
  border-radius: 16px;
  display: flex;
  height: 88px;
  align-items: center;
  box-shadow: 0 3px 21px 0px rgba(0, 0, 0, 10%);
  justify-content: space-between;
  padding: 7px 19px 0px 25px;
}
.trending_add_btn {
  cursor: pointer;
}
.folowers {
  color: #bcbcbc;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
._trending_tile_head {
  font-size: 20px;
  font-weight: 700;
  color: #000580;
  font-family: "DM Sans", sans-serif;
}

.trendinf_tile_info {
  display: flex;
  gap: 16px;
  align-items: center;
}
.seach_bar_ele {
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 34px;
  font-size: 24px;
  font-weight: 400;
  color: #bcbcbc;
  font-family: "DM Sans", sans-serif;
  border-radius: 41px;
  outline: none;
}
@media screen and (max-width:1800px){
	.right_bar_wrap {
		padding: 31px 29px 0px 23px;
		position: -webkit-sticky;
		width: 100%;
		position: sticky;
		top: 0;
	  }
    .fillter_wraper{
      width: 428px;
      /*height: 253px;*/
      margin-top: 56px;
      background-color: white;
      box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
    
    }
}
@media screen and (max-width: 1700px) {
  ._trending_tile_head {
    font-size: 18px;
    font-weight: 700;
    color: #000580;
    font-family: "DM Sans", sans-serif;
  }
}
@media screen and (max-width:1440px){
  .fillter_wraper{
    width: 100%;
    /*height: 253px;*/
    margin-top: 56px;
    background-color: white;
    box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  
  }
  .nba_content_body{
    padding: 27px 20px 0px 20px;
  }
  .nba_header{
    height: 52px;
    display: flex;
    padding: 0px 21px;
    margin-top: 37px;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid #BCBCBC;
    font-family: "Space Grotesk", sans-serif;
    color: black;
    align-items: center;
  
  }
}
@media screen and (max-width: 1200px) {
  ._trending_tile_head {
    font-size: 16px;
    font-weight: 700;
    color: #000580;
    font-family: "DM Sans", sans-serif;
  }
  .trending_interst_wrap {
    min-width: 300px;
    background-color: white;
    border-radius: 10px;
    margin-top: 37px;
    box-shadow: 0 7px 21px 0px rgba(0, 0, 0, 5%);
  }
  .filter_dates{
    width: 177px;
    height: 50px;
    font-size: 14px;
    border-radius: 30px;
    display: flex;
    color: #BCBCBC;
    padding: 0px 10px;
    cursor: pointer;
    border:2px solid #BCBCBC ;
    justify-content: space-between;
    align-items: center;
  }
}
