.search_container {
	max-width: 892px;
	height: 63px;
	border: 2px solid #BCBCBC;
	border-radius: 41px;
	padding-left: 34px;

}
.dektop_preview_last_sec{
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: flex-end;
}

.search_main_box {
	padding: 33px 65px 54px;
}
.create_community_btn{
	width: 232px;
	min-width: 180px;
	height: 52px;
	color: white;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	cursor: pointer;
	font-family: "DM Sans", sans-serif;
	border-radius: 41px;
	background-color: #1CAC19;
}

.ip_ele {
	border: none;
	outline: none;
	background-color: transparent;
	height: 100%;
	width: 100%;
	font-size: 24px;
	font-weight: 400;
	font-family: "DM Sans", sans-serif;
	color: #BCBCBC;

}

.content_wraper {
	display: flex;
	gap: 41px;
	overflow-y: scroll;
width: 100%;
	padding: 0px 16px 0px 73px;

}


.heading {
	font-size: 30px;
	font-weight: 700;
	color: black;
	font-family: "Space Grotesk", sans-serif;

}

.create_community_wraper {
	width: 505px;
	margin-top: 19px;
	border-radius: 10px;
	transition: width 3s;
	box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.05);

}

.chose_Privcy {
	width: 100%;
	position: relative;
	height: 71px;
	display: flex;
	cursor: pointer;
	padding: 0px 25px;
	justify-content: space-between;
	align-items: center;
	background: #FFFFFF;
	box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
}

.chose_privcy_toggle {
	width: 255px;
	height: 137px;
	position: absolute;
	right: -25px;
	padding: 33px 0px 28px 0px;
	top: 0px;
	background-color: white;
	box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.1);
	border-radius: 10px;

}

.toggle_item {
	display: flex;
	padding-left: 7px;
	gap: 12px;
	font-size: 16px;
	color: black;
	font-weight: 400;
	height: 38px;
	font-family: "DM Sans", sans-serif;
	align-items: center;
	cursor: pointer;
}

.toggle_item:hover {
	background-color: #D9D9D9;
	cursor: pointer;
	display: flex;
	padding-left: 7px;
	gap: 12px;
	height: 38px;
	font-size: 16px;
	color: black;
	font-weight: 400;
	font-family: "DM Sans", sans-serif;
	align-items: center;
	cursor: pointer;
}

.chose_select {
	position: relative;
	cursor: pointer;
}

.coumity_des {
	width: 100%;
	padding: 9px 15px 15px 25px;
	height: 202px;
	border-radius: 16px;
	box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.1);
	background-color: white;
}

.desk_prev_heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	font-family: "DM Sans", sans-serif;
	font-weight: 700;
	color: black;
}

.upload_profile {
	width: 100%;
	border: 1px solid #BCBCBC;
	height: 418px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	border-radius: 10px;
}

.community_category {
	width: 100%;
	padding: 25px 38px 14px 38px;
	height: 99px;
	margin-top: 33px;
	background: #FFFFFF;
	box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
}
.tabs_items{
	font-family: "DM Sans", sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #BCBCBC;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}
.desk_des{
	max-width: 470px;
	height: 124px;
	margin-top: 27px;
	padding: 10px 15px 0px 25px;
	background: #FFFFFF;
box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.1);
border-radius: 16px;

}
.active_tabs_items{
	font-family: "DM Sans", sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #BCBCBC;
	display: flex;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	background: #828282;
	border-radius: 41px;
	width: 136px;
	height: 35px;
	justify-content: center;
	align-items: center;
}

.desktop_tabs {
	max-width: 650px;
	height: 46px;
	background-color: #D9D9D961;
	border-radius: 32px;
	margin-top: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 18px;
}

.desktop_preview {
	width: 100%;
	margin-top: 64px;
	padding: 9px 48px 15px 43px;

	box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.07);
	border-radius: 30px;
	background-color: white;
}

.comunity_des_text {
	font-size: 12px;
	padding-top: 7px;
	font-weight: 400;
	color: #BCBCBC;
	line-height: 15px;
	font-family: "DM Sans", sans-serif;
}

.header_wraper {
	height: 52px;
	display: flex;
	font-size: 20px;
	color: black;
	font-weight: 700;
	border-bottom: 2px solid #BCBCBC;
	align-items: center;
	padding: 0px 21px;
	font-family: "Space Grotesk", sans-serif;
}

.info_body {
	padding: 28px 17px 40px 18px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.comunity_name {
	width: 100%;
	background: #FFFFFF;
	height: 121px;
	padding: 7px 25px 10px 25px;
	box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.1);
	border-radius: 16px;

}

.name_ele {
	border: none;
	outline: none;
	font-size: 16px;
	font-family: "DM Sans", sans-serif;
	color: #BCBCBC;
	font-weight: 400;
}

.name_box {
	margin-top: 8px;
	border-bottom: 2px solid #BCBCBC;
	max-width: 336px;
}

.name_text {
	max-width: 345px;
	padding-top: 17px;
	font-size: 12px;
	font-family: "DM Sans", sans-serif;
	font-weight: 400;
	line-height: 15px;
	color: #BCBCBC;

}
@media screen and (max-width:1720px){
	.create_community_btn{
		width: 232px;
		min-width: 180px;
		height: 52px;
		color: white;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		cursor: pointer;
		font-family: "DM Sans", sans-serif;
		border-radius: 41px;
		background-color: #1CAC19;
	}
}
@media screen and (max-width:1500px){
	.create_community_btn{
		width: 140px;
		min-width: 140px;
		height: 52px;
		color: white;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		cursor: pointer;
		font-family: "DM Sans", sans-serif;
		border-radius: 41px;
		background-color: #1CAC19;
	}
}
@media screen and (max-width:1460px){
	.dektop_preview_last_sec{
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: space-between;
		align-items: flex-end;
	}
	.create_community_btn{
		width: 250px;
		min-width: 140
		px;
		height: 52px;
		color: white;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		cursor: pointer;
		font-family: "DM Sans", sans-serif;
		border-radius: 41px;
		background-color: #1CAC19;
	}
}
@media screen and (max-width:1440px){
	.heading {
		font-size: 20px;
		font-weight: 700;
		color: black;
		font-family: "Space Grotesk", sans-serif;
	
	}
	.content_wraper {
		display: flex;
		gap: 41px;
		padding: 0px 16px 0px 20px;
	
	}
	.desktop_tabs {
		max-width: 650px;
		height: 46px;
		background-color: #D9D9D961;
		border-radius: 32px;
		margin-top: 32px;
		display: flex;
		gap: 5px;
		align-items: center;
		justify-content: space-between;
		padding: 0px 18px;
	}
	.ip_ele {
		border: none;
		outline: none;
		background-color: transparent;
		height: 100%;
		width: 100%;
		font-size: 20px;
		font-weight: 400;
		font-family: "DM Sans", sans-serif;
		color: #BCBCBC;
	
	}
	
.search_main_box {
	padding: 20px 20px 20px;
}
.search_container {
	max-width: 892px;
	height: 53px;
	border: 2px solid #BCBCBC;
	border-radius: 41px;
	padding-left: 34px;

}
.active_tabs_items{
	font-family: "DM Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #BCBCBC;
	display: flex;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	background: #828282;
	border-radius: 41px;
	width: 100px;
	height: 35px;
	justify-content: center;
	align-items: center;
}
.tabs_items{
	font-family: "DM Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #BCBCBC;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}
.create_community_wraper {
	width: 100%;
	margin-top: 19px;
	border-radius: 10px;
	box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.05);

}
}
@media screen and (max-width:1050px){
	.content_wraper {
		display: flex;
		flex-direction: column;
		gap: 0px;
		padding: 0px 16px 0px 20px;
	
	}
	.community_category {
		width: 100%;
		padding: 10px 20px 14px 20px;
		height: 99px;
		margin-top: 33px;
		background: #FFFFFF;
		box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.1);
		border-radius: 16px;
	}
	.desktop_preview {
		width: 100%;
		margin-top: 40px;
		padding: 9px 48px 15px 43px;
	
		box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.07);
		border-radius: 30px;
		background-color: white;
	}
}
@media screen and (max-width:610px){
	.desktop_tabs {
		width: 100%;
	
		height: auto;
		background-color: #D9D9D961;
		border-radius: 32px;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0px;
	}
	.active_tabs_items{
		font-family: "DM Sans", sans-serif;
		font-size: 18px;
		font-weight: 400;
		color: #BCBCBC;
		display: flex;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		background: #828282;
		border-radius: 0px;
		border-radius: 15px;
		width: 100%;
		height: 35px;
		justify-content: center;
		align-items: center;
	}
	.tabs_items{
		font-family: "DM Sans", sans-serif;
		font-size: 18px;
		font-weight: 400;
		color: #BCBCBC;
		display: flex;
		cursor: pointer;
		justify-content: center;
		align-items: center;
	}
	.desktop_preview {
		width: 100%;
		margin-top: 40px;
		padding: 9px 20px 15px 20px;
	
		box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.07);
		border-radius: 30px;
		background-color: white;
	}
	.upload_profile {
		width: 100%;
		border: 1px solid #BCBCBC;
		height: 320px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
		border-radius: 10px;
	}
}
@media screen and (max-width:550px){
	.content_wraper {
		display: flex;
		flex-direction: column;
		gap: 0px;
		overflow: none;
		padding: 0px 16px 80px 20px;
	
	}
	.search_main_box {
		padding: 80px 20px 20px;
	}
	
.desk_prev_heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	font-family: "DM Sans", sans-serif;
	font-weight: 700;
	color: black;
}
.search_container {
	max-width: 892px;
	height: 43px;
	border: 2px solid #BCBCBC;
	border-radius: 41px;
	padding-left: 34px;

}
.ip_ele {
	border: none;
	outline: none;
	background-color: transparent;
	height: 100%;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	font-family: "DM Sans", sans-serif;
	color: #BCBCBC;

}
}