.post_action_wrap {
  cursor: pointer;
  position: relative;
}
.toggle_wrap {
  height: 316px;
  width: 256px;
  position: absolute;
  right: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 0px 34px 0px;
  border-radius: 10px;
  background-color: white;
  border: 0.3px solid #bcbcbc;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
}
.item_wrap {
  width: 100%;
  height: 38px;
  align-items: center;
  display: flex;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  cursor: pointer;
  padding-left: 19px;
  gap: 12px;
}
.item_wrap:hover {
  width: 100%;
  height: 38px;
  align-items: center;
  display: flex;
  background-color: #d9d9d9;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  cursor: pointer;
  padding-left: 19px;
  gap: 12px;
}
.modal_main_box {
  padding: 32px 77px;
}
.create_post_sep {
  width: 100%;
  border: 2px solid #bcbcbc;
  margin-top: 16px;
}
.create_post_header {
  display: flex;
  gap: 22px;
  font-size: 20px;
  font-weight: 700;
  color: black;
  padding: 20px 49px 0px 49px;
  align-items: center;
  cursor: pointer;
}
.chose_interst_wrao {
  width: 146px;
  border-radius: 41px;
  display: flex;
  padding: 0px 13px;
  height: 38px;
  cursor: pointer;
  font-size: 12px;
  border: 2px solid #1cac19;
  font-weight: 400;
  color: #1cac19;
  font-family: "DM Sans", sans-serif;
  align-items: center;
  justify-content: space-between;
}
.create_post_modal_profile {
  padding: 27px 31px 0px 31px;
  display: flex;
  gap: 13px;
  align-items: center;
}
.modal_profile_wrap {
  padding-top: 36px;
  border-bottom: 2px solid #bcbcbc;
}
.profile_info {
  display: flex;
  gap: 12px;
  align-items: center;
}
.modal_post_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  width: 180px;
  height: 45px;
  border-radius: 41px;
  cursor: pointer;
  background-color: #1cac19;
}
.bottom_media_items {
  display: flex;
  color: #000580;
  font-size: 12px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  align-items: center;
  width: 146px;
  height: 44px;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 41px;
  padding: 0px 15px;
}
.create_bottom_media_items {
  display: flex;
  color: #000580;
  font-size: 12px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  align-items: center;
  width: 146px;
  height: 48px;
  position: relative;
  cursor: pointer;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 41px;
  padding: 0px 15px;
}
.create_insert_up_bnt {
  border: 1px solid #bcbcbc;
  height: 70px;
  width: 204px;
  font-size: 12px;
  font-weight: 400;
  padding: 0px 13px;
  font-family: "DM Sans", sans-serif;
  color: #000580;
  border: 1px solid #bcbcbc;
  box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  display: flex;
  gap: 7px;
  align-items: center;
}
.active_create_bottom_media_items {
  display: flex;
  color: white;
  background-color: #1cac19;
  font-size: 12px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  align-items: center;
  width: 146px;
  height: 48px;
  gap: 10px;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 41px;
  padding: 0px 15px;
}

.bottom_media_wrap {
  display: flex;
  gap: 20px;
  padding: 17px 0px 20px 0px;
  justify-content: space-between;
  align-items: center;
}
.create_bottom_media_wrap {
  display: flex;
  gap: 20px;
  cursor: pointer;
  position: relative;
  padding: 23px 48px 24px 108px;
  justify-content: space-between;
  align-items: center;
}
.text_editor_wraper{
  height: 300px;
  width: 100%;
  margin-top: 15px;
  border: 2px solid #BCBCBC;
  box-shadow: inset 1px 1px 20px 12px rgba(0, 0, 0, 0.02);
  border-radius: 16px;
margin-bottom: 10px;
}
.createPost_blog_active{
  display: flex;


  position: relative;
  padding: 23px 48px 24px 108px;
  justify-content: flex-end;
  align-items: center;
}
.create_insert_media_toggle {
  width: 447px;
  height: 104px;
  display: flex;
  z-index: 5;
  top: -90px;
  left: 100px;
  position: absolute;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.15);
  border-radius: 33px;
}
.bottom_seprator {
  border: 2px solid #bcbcbc;
  width: 100%;
  margin-top: 17px;
}
.post_profile_box {
  display: flex;
  gap: 12px;
  align-items: center;
}
.post_bottom_content {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
}
.post_des_container {
  width: 526px;
  height: 400px;
  margin-top: 42px;
  padding: 25px 42px 50px 42px;
  border-radius: 10px;
  box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.05);
}
.text_ele {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  border: none;
  color: #bcbcbc;
  outline: none;
}
.create_post_bottom_content {
  padding: 50px 52px 0px 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create_post_share {
  padding: 27px 52px 0px 107px;
}
.share_thoughts_container {
  width: 100%;

  padding-top: 23px;
}
.report_modal_sep {
  width: 100%;
  margin-top: 16px;
  border: 2px solid #bcbcbc;
}
.report_text_ele {
  height: 85%;
  width: 100%;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}
.blog_post_wrap{
  width: 80%;
  height: auto;

  margin: 20px 0px 10px 107px;
  background-color: white;
  box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.07);
border-radius: 30px;
}
.blog_title{
  font-weight: 700;
  color: black;
  font-size: 20px;

}
.blog_title_ele{
  height: 70%;
  width: 100%;
  border: none;
  padding: 20px;
  outline: none;
  border-radius: 16px;
  font-size: 16px;
  color: #BCBCBC;

}
.blog_title_wrap{
  width: 100%;
  height: 110px;
  margin-top: 15px;
  border: 2px solid #BCBCBC;
  box-shadow: inset 1px 1px 20px 12px rgba(0, 0, 0, 0.02);
  border-radius: 16px;
margin-bottom: 10px;
}
.blog_post_box{
  padding: 23px 35px;
}
.report_post_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1cac19;
  border-radius: 41px;
  height: 45px;
  width: 180px;
  margin-top: 28px;
  font-family: "DM Sans", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.report_modal_text_box {
  width: 100%;
  margin-top: 0px;
  height: 162px;
  padding: 13px 21px;
  color: #bcbcbc;
  border: 1px solid #bcbcbc;
  border-radius: 15px;
}
.report_modal_checkbox {
  display: flex;
  margin-top: 26px;
  flex-direction: column;
  gap: 36px;
  width: 100%;
}
.report_modal_text {
  font-size: 16px;
  color: black;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}
.report_modal_content {
  padding: 21px 65px 29px 82px;
}
.post_share_header {
  padding: 18px 47px 0px 47px;
  display: flex;
  font-size: 20px;
  font-family: "Space Grotesk", sans-serif;
  gap: 18px;
  font-weight: 700;
  color: black;
}
@media screen and (max-width: 1000px) {
  .post_des_container {
    width: 100%;
    height: auto;
    margin-top: 42px;
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.05);
  }
  .report_text_ele {
	height: 85%;
	width: 100%;
	outline: none;
	border: none;
	font-size: 16px;
	font-weight: 400;
	font-family: "DM Sans", sans-serif;
  }
  .create_bottom_media_wrap {
	display: flex;
	gap: 20px;
	cursor: pointer;
	position: relative;
	padding: 23px 20px 24px 20px;
	justify-content: space-between;
	align-items: center;
  }
  .create_post_sep {
	width: 100%;
	border: 2px solid #bcbcbc;
	margin-top: 10px;
  }
  .report_modal_sep {
	width: 100%;
	margin-top: 10px;
	border: 2px solid #bcbcbc;
  }
  .share_thoughts_container {
    width: 100%;

    padding-top: 5px;
  }
  .create_post_header {
	display: flex;
	gap: 22px;
	font-size: 20px;
	font-weight: 700;
	color: black;
	padding: 20px 49px 0px 27px;
	align-items: center;
	cursor: pointer;
  }
  .create_post_bottom_content {
	padding: 50px 52px 0px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .create_post_modal_profile {
	padding: 27px 31px 0px 20px;
	display: flex;
	gap: 13px;
	align-items: center;
  }
  .report_modal_checkbox {
	display: flex;
	margin-top: 20px;
	flex-direction: column;
	gap: 26px;
	width: 100%;
  }
  .modal_main_box {
    padding: 32px 20px;
  }
  .create_post_share {
	padding: 27px 52px 0px 20px;
  }
  .modal_profile_wrap {
    padding-top: 20px;
    border-bottom: 2px solid #bcbcbc;
  }
  .report_modal_content {
	padding: 21px 27px 20px 27px;
  }
  .bottom_media_items {
    display: flex;
    color: #000580;
    font-size: 11px;
    font-weight: 400;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    align-items: center;
    width: 130px;
    height: 40px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 41px;
    padding: 0px 8px;
  }
  .text_ele {
    height: 100%;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    color: #bcbcbc;
    outline: none;
  }
  .modal_post_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border-radius: 41px;
    cursor: pointer;
    background-color: #1cac19;
  }
  .post_share_header {
	padding: 18px 47px 0px 27px;
	display: flex;
	font-size: 18px;
	font-family: "Space Grotesk", sans-serif;
	gap: 18px;
	font-weight: 700;
	color: black;
  }
}
@media screen and (max-width: 575px) {
  .bottom_media_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 17px 0px 20px 0px;
    justify-content: space-between;
    align-items: center;
  }
  .modal_post_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    width: 100%;
    height: 40px;
    border-radius: 41px;
    cursor: pointer;
    background-color: #1cac19;
  }
}
@media screen and (max-width:500px){
	.create_bottom_media_wrap {
		display: flex;
		flex-direction: column;
		gap: 20px;
		cursor: pointer;
		position: relative;
		padding: 23px 20px 24px 20px;
		justify-content: space-between;
		align-items: center;
	  }
}
