.main_container{
	width: 100%;
	border-right: 2px solid #BCBCBC;
}
.search_container{
	display: flex;
	align-items: center;
	gap: 17px;
	padding: 17px 30px 12px 28px;
}
.search_box{
	width: 100%;
	height: 63px;
	border: 2px solid #BCBCBC;
	border-radius: 41px;
	padding-left: 55px;

}
.search_ele{
	height: 100%;
	width: 100%;
	border-radius: 41px;
	border: none;
	outline: none;
	font-size: 24px;
	font-family: "DM Sans", sans-serif;
	color: #BCBCBC;
	font-weight: 700;
}
.tabs_wraper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 266px;
	background-color: #D9D9D961;
	height: 63px;
	border-radius: 41px;
	padding: 0px 16px;

}
.post_body{
	padding: 39px 30px 20px 42px;
}
.seprator{
	width: 100%;
	margin-top: 12px;
	border: 2px solid #BCBCBC;

}
.active_tabs_item{
	width: 146px;
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 400;
	height: 53px;
	justify-content: center;
	cursor: pointer;
	color: #000580;
	font-family: "DM Sans", sans-serif;
	background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 41px;

}
.tabs_item{

	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 400;
cursor: pointer;
	color: black;
	font-family: "DM Sans", sans-serif;



}