.setUpProfile_wrap{

}
.profile_heading{
	height: 98px;
	padding-left: 78px;
	font-size: 42px;
	font-weight: 700;
	font-family: 'Space Grotesk', sans-serif;
	display: flex;
	align-items: center;
	border-bottom: 2px solid #BCBCBC;
}
.pro_content_text{
	display: flex;
	margin-top: 58px;
	font-family: "DM Sans", sans-serif;
	font-size: 20px;
	font-weight: 400;
	justify-content: center;
}
.upload_wraper{
	display: flex;
	margin-top: 64px;
	justify-content: center;
}
.upload_btn_wrapper {
	position: relative;
	overflow: hidden;
	
cursor: pointer;
	display: inline-block;
  }
  
  .btn_upload{
margin-top: 39px;
	font-size: 20px;
	font-weight: 400;
  }
  .span_upload{
	color: #1CAC19;
	text-decoration: underline;
  }
  
  .upload_btn_wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	cursor: pointer;
	height: 100%;
	width: 100%;
	top: 0;
	opacity: 0;
  }
  @media screen and (max-width:1600px){
	.profile_heading{
		height: 88px;
		padding-left: 78px;
		font-size: 32px;
		font-weight: 700;
		font-family: 'Space Grotesk', sans-serif;
		display: flex;
		align-items: center;
		border-bottom: 2px solid #BCBCBC;
	}
  }
  @media screen and (max-width:768px){
	.profile_heading{
		height: 88px;
		padding-left: 0px;
		text-align: center;
		justify-content: center;
		font-size: 28px;
		font-weight: 700;
		font-family: 'Space Grotesk', sans-serif;
		display: flex;
		align-items: center;
		border-bottom: 2px solid #BCBCBC;
	}
	.pro_content_text{
		display: flex;
		margin-top: 38px;
		font-family: "DM Sans", sans-serif;
		font-size: 16px;
		padding: 0px 10px;
		justify-content: center;
		text-align: center;
		font-weight: 400;
		justify-content: center;
	}
	.btn_upload{
		margin-top: 29px;
			font-size: 16px;
			padding-bottom: 20px;
			font-weight: 400;
		  }
		  .upload_Img{
			
		  }
  }