.header_wrap {
  padding: 30px 26px 31px 38px;
  font-size: 30px;
  color: black;
  font-weight: 700;
  font-family: "Space Grotesk", sans-serif;
}
.vedios_container {
  display: flex;
  gap: 12px;

  padding: 0px 26px 31px 38px;
  overflow-x: scroll;
}
.vedio_bg {

  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.18) -30.04%, rgba(0, 0, 0, 0) 42.02%, #000000 119.37%),
  url("../Images/videoDog.png");
  height: 293px;
  width: 315px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  margin-top: 17px;
  background-size: 100%;

  filter: drop-shadow(0px 3px 21px rgba(0, 0, 0, 0.1));
  border-radius: 16px;
  cursor: pointer;
  padding: 7px 10px;
  position: relative;
}
.play_btn {
  position: absolute;
  top: 125px;
  left: 136px;
}
.vedio_content_box{
	position: absolute;
	padding: 0px 31px 0px 21px;
	bottom: 3px;
}
.vedio_text{
	color: white;
	font-size: 12px;
	font-weight: 700;
	font-family: "Space Grotesk", sans-serif;
}
.vedio_like_comnets{
	display: flex;
	align-items: center;
	gap: 18px;
	padding-top: 7px;
	font-size: 12px;
	color: white;
	font-family: "DM Sans", sans-serif;
	font-weight: 400;
}
.vedio_bottom_wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;

}
.vedio_b_content{
	display: flex;
	gap: 7px;
	font-size: 12px;
	font-weight: 500;
	color: #000580;
	font-family: "DM Sans", sans-serif;
	align-items: center;

}
.sm_btn{
	width: 123px;
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 12px;
	color: black;
	padding: 0px 8px;
	font-family: "DM Sans", sans-serif;
font-weight: 700;
border-radius: 41px;

	height: 24px;
	cursor: pointer;
	background-color: #D9D9D9;
	align-items: center;
}
@media screen and (max-width:1440px){
	.header_wrap {
		padding: 20px 20px 20px 20px;
		font-size: 20px;
		color: black;
		font-weight: 700;
		font-family: "Space Grotesk", sans-serif;
	  }
}
@media screen and (max-width:1050px){
	.header_wrap {
		padding: 20px 20px 0px 20px;
		font-size: 20px;
		color: black;
		font-weight: 700;
		font-family: "Space Grotesk", sans-serif;
	  }
}