@tailwind base;
@tailwind components;
@tailwind utilities;




a {
  color: inherit;
  text-decoration: none;
}
.fade{
  padding-left: 0px !important;
}
.show{
  padding-left: 0px !important;
}
 .modal{
  padding-left: 0px !important;
}
.rounded-checkbox {
  width:20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #1CAC19;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.rounded-checkbox:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
  background-color: #1CAC19 !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.post_action_modal .modal-content{
border-radius: 30px !important;
}
.post_share_modal .modal-content{
border-radius: 30px !important;
}
.userblock .modal-content{
  border-radius: 27px;
  height: 564px !important;
  /*width: 553px !important;*/
  padding: 74px 79px;
}
.ql-toolbar.ql-snow { border: none !important;}
.ql-container .ql-snow{
  height: 255px !important;
  border-radius: 16px !important;
  border: 0px;
}

.vedios_container2 {
  display: flex;
  gap: 12px;
  width: 1010px;
  overflow-x: scroll;
  padding: 0px 26px 31px 38px;
 
}
.explore_content_wrap {
  height: 80vh;
  margin-top: 54px;
  overflow-y: scroll;
}



#style-12::-webkit-scrollbar-track
{
	height: 5px;
	border-radius: 10px;
	background-color: #BCBCBC;
}

#style-12::-webkit-scrollbar
{
	max-width: 12px !important;
  height: 17px;
  
}

#style-12::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color:white;
height: 2px !important;
}
@media screen and (max-width: 1850px) {

  .vedios_container2 {
    display: flex;
    gap: 12px;
    width: 900px;
    overflow-x: scroll;
    padding: 0px 26px 31px 38px;
   
  }}
  @media screen and (max-width: 1700px) {

    .vedios_container2 {
      display: flex;
      gap: 12px;
      width: 850px;
      overflow-x: scroll;
      padding: 0px 26px 31px 38px;
     
    }}
    @media screen and (max-width: 1600px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 800px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}
    @media screen and (max-width: 1515px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 750px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}
    @media screen and (max-width: 1460px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 700px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}
    @media screen and (max-width: 1400px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 600px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }
      .explore_content_wrap {
        height: 80vh;
        margin-top: 24px;
        overflow-y: scroll;
      }
    }
    @media screen and (max-width: 1310px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 500px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}
    @media screen and (max-width: 1150px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 450px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}
    @media screen and (max-width: 1090px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 400px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}
    @media screen and (max-width: 1050px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 750px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}
    @media screen and (max-width: 1000px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 700px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}
    @media screen and (max-width: 950px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 650px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}
    @media screen and (max-width: 900px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 600px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}
    @media screen and (max-width: 850px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 550px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}
    @media screen and (max-width: 800px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 500px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}
    @media screen and (max-width: 645px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 450px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}
    @media screen and (max-width: 600px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 400px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}
    @media screen and (max-width: 430px) {
   
      .vedios_container2 {
        display: flex;
        gap: 12px;
        width: 345px;
        overflow-x: scroll;
        padding: 0px 20px 31px 20px;
       
      }}



