@tailwind base;
@tailwind components;
@tailwind utilities;




a {
  color: inherit;
  text-decoration: none;
}
.fade{
  padding-left: 0px !important;
}
.show{
  padding-left: 0px !important;
}
 .modal{
  padding-left: 0px !important;
}
.rounded-checkbox {
  width:20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #1CAC19;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.rounded-checkbox:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
  background-color: #1CAC19 !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.post_action_modal .modal-content{
border-radius: 30px !important;
}
.post_share_modal .modal-content{
border-radius: 30px !important;
}
.userblock .modal-content{
  border-radius: 27px;
  height: 564px !important;
  /*width: 553px !important;*/
  padding: 74px 79px;
}
.ql-toolbar.ql-snow { border: none !important;}
.ql-container .ql-snow{
  height: 255px !important;
  border-radius: 16px !important;
  border: 0px;
}