.main_container{
  max-width: 1880px;

margin: auto;
min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f8f8;
}
.centerView{
  width: 100%;

}
.new_community_right{
  width: 100%;
 
}
.explore_screen{
  width: 100%;
  padding: 33px 20px 30px 76px;
}

.Message_center{
  width: 630px;
}
.message_right{
  width: 100%;
}


@media screen and (max-width:1600px){
  .centerView{
    width: 100%;
  }
}
@media screen and (max-width:1440px){
  .explore_screen{
    width: 100%;
    padding: 20px 20px 30px 20px;
  }
}
@media screen and (max-width:1050px){
  .right_side_bar{
    display: none;
  }
  .centerView{
    width: 100%;
  }
  .message_right{
    display: none;
  }
  .Message_center{
    width: 100%;
  }
}
@media screen and (max-width:550px){
  .left_menu{
    display: none;
  }
  .main_container{
    max-width: 1880px;
  overflow-y: scroll;
  position: relative;
  height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f8f8;
  }



  .centerView{
    width: 100%;
    margin-top: 50px;
   
  }
}