.main_container{
  max-width: 1880px;


min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f8f8;
}



@media screen and (max-width:1600px){
  .centerView{
    width: 100%;
  }
}
@media screen and (max-width:1050px){
  .right_side_bar{
    display: none;
  }
  .centerView{
    width: 100%;
  }
}
@media screen and (max-width:550px){
  .left_menu{
    display: none;
  }
  .main_container{
    max-width: 1880px;
  overflow-y: scroll;
  position: relative;
  height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f8f8;
  }



  .centerView{
    width: 100%;
    margin-top: 50px;
   
  }
}